<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Fun Facts</title>
    <head>
    <body>
    <p>Here are some fun facts about me!</p>
    <p>I am of West African descent. My mom is originally from Liberia, and my
    dad is originally from Togo.</p>
    <p><img src="/static/images/liberiaflag.png" alt="Liberian Flag" width="500" 
    height="250"><img src="/static/images/togoflag.png" alt="Togolese Flag" width="500" 
    height="250"></p>
    <pre><i>Liberian Flag</i>                                                              <i>Togolese Flag</i><pre>
    <p>Some of my favorite West African dishes are fried green plantain and 
    jollof rice.</p>
    <p><img src="/static/images/plantain.jpg" alt="Plantain"><img 
    src="/static/images/jollof.jpg" alt="Jollof Rice" width="500" 
    height="500"></p>
    <pre><i>Plantain</i>                                                                   <i>Jollof Rice</i><pre>
    <p>When I am not on Columbia's campus, I live at home with my family on 
    Long Island.</p>
    <p>My favorite show is The Office (US Version)</p>
    <p><img src="/static/images/office.jpg" alt="The Office"></p>
    <p>My favorite movie is Godfather II</p>
    <p><img src="/static/images/godfather.jpg" alt="Godfather II" width="675" 
    height="975"></p>
    <p>My favorite anime is Naruto</p>
    <p><img src="/static/images/naruto.jpg" alt="Naruto" width="600" 
    height="825"></p>
    </body>
</html>
