<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Future Research Plans</title>
    <head>
    <body>
    <p>These are my future research plans!</p>
    <p>While at Columbia and beyond, I hope study Cell and Tissue Engineering
    within the filed of BME.</p>
    <p>Specifically, I am interested in doing reseach on the mechanical structure 
    of cells. Dr. Donald Ingber, a professor at Harvard University and founder 
    of the Wyss Institute currently studies cells in a fashion that is analagous
    to studing architectural frameworks known as <b>tensegrity structures</b>.</p>
    <p><img src="/static/images/ingber.jpeg" alt="Picture of Ingber"></p>
    <p><i>Dr. Donald Ingber</i></p>
    <p><img src="/static/images/tensegrity.png" alt="Cell Tensegrity" width="600"
    height="259"></p>
    <p><img src="/static/images/tensegrity2.jpg" alt="Cell Tensegrity2" width="540"
    height="432"></p>
    <p><i>Cell Tensegrity Analogy</i></p>
    <p>Dr. Ingber uses his research to develop new treatments and techniques for
    batting cancer. I hope to one day use methods similar to his to fight sickle
    cell disease.</p>
    <p>Sickle cell disease is a genetic blood disorder that largely affects
    individuals of African descent. The gene that causes the disease triggers 
    hemoglobin molecules to lock together into rigid rods, thus changing the 
    shape and the pliability of red blood cells. The deformed red blood cells 
    can no longer flow smoothly through the blood vessels. The mechanical implications
    of the disease made me interested in applying Dr. Ingber's appraoch to
    find a more viable cure for the ailment.</p>
    <p><img src="/static/images/sicklecell.jpg" alt="Sickle Cell Diagram" width="600"
    height="395"></p>
    <p><i>Effect of Sickle Cell on red blood cells</i></p>
    <a href="https://wyss.harvard.edu/news/the-architecture-of-life-described-by-computer-modeling/">
    Learn more about Dr. Ingber's Research
    Here!(one of my favorite websites)</a>
    </body>
</html>

