<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello, welcome to my personal website!</p>
    <p>My name is <b>Ayi Agboglo</b> </p>
    <p><img src="/static/images/portrait.jpeg" alt="Picture of Me" width="300" 
    height="500"></p>
    <p>I am a rising sophomore at Columbia University</p>
    <p>I intend to major in Biomedical Engineering (BME)</p>
    <a href="/futureplans">Learn about my future plans!</a>
    </body>
</html>

